<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @contact_form.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @contact_form.lastname %>
</p>

<%= link_to 'Back', contact_forms_path %>
